@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #2a2b2c;
  background-color: #f0f0f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fafafd;
    background-color: #202122;
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #94a3b833;
  border-radius: 6px;
}
