.alert {
  display: grid;
  align-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(auto, 1fr);
  justify-items: start;
  text-align: left;
}
.alert-primary {
  background-color: rgba(var(--primary-rgb), 0.25);
  border: 1px solid var(--primary);
}
.alert-info {
  background-color: rgba(var(--info-rgb), 0.25);
  border: 1px solid var(--info);
}
.alert-success {
  background-color: rgba(var(--success-rgb), 0.25);
  border: 1px solid var(--success);
}
.alert-warning {
  background-color: rgba(var(--warning-rgb), 0.25);
  border: 1px solid var(--warning);
}
.alert-error {
  background-color: rgba(var(--error-rgb), 0.25);
  border: 1px solid var(--error);
}

.btn-sm {
  height: 2rem !important;
}
.btn {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  background-color: var(--light);
  padding: 0 1rem;
  border-radius: 0.5rem;
  transition-duration: 200ms;
}
.btn-lg {
  height: 3rem !important;
}
.btn:hover {
  filter: brightness(1.05);
}
.btn:active {
  filter: brightness(0.95);
}
.btn-primary {
  background-color: var(--primary);
  box-shadow: rgba(var(--primary), 0.25) 0px 4px 6px -1px,
    rgba(var(--primary), 0.25) 0px 2px 4px -2px;
}
.btn-border {
  background-color: transparent;
  border: 2px solid #94a3b833;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--background);
}
.card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.5rem;
}
.card-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
}
